@import "tailwindcss";

html {
  color-scheme: light only;
}

body {
  background-color: #ffffff;
}

*, *::before, *::after {
  color-scheme: light !important;
}

html, body {
  background-color: #ffffff !important;
  color-scheme: light !important;
  font-family: 'DM Sans', sans-serif !important;
}

.dark * {
  color-scheme: light !important;
  background-color: unset;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  color-scheme: light only;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

[data-theme="light"] {
  color-scheme: light;
}

body {
  background-color: #ffffff !important;
  color: #0f172a;
  font-family: 'DM Sans', sans-serif;
}
